*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
	background: hsl(0, 0%, 10%);
}

canvas {
	position: absolute;
	left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    cursor: crosshair;
}

button {
	font-size: larger;
}

.range_wrapper {
    width: 4em;
    height: 20em;
    margin-top: 2em;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 20em;
    height: 4em;
    margin-top: 2em;
    margin-left: 1em;
    transform-origin: 10em 10em;
    transform: rotate(-90deg);
    background: transparent;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 4em;
    background: hsl(0, 0%, 28%);
}
input[type=range]::-webkit-slider-runnable-track {
    background: hsl(0, 0%, 18%);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    --active-colour: hsl(0, 0%, 80%);

    display: block;
    position: relative;
    width: 4em;
    height: 4em;
    background: hsl(0, 0%, 18%);
    border-top: solid 1px hsl(0, 0%, 10%);
    text-align: center;
    line-height: 4em;
    font-family: sans-serif;
    color: hsl(0, 0%, 80%);
    cursor: default;
    user-select: none;
}
ul li:hover {
    background: hsl(0, 0%, 20%);
}
ul li:active:hover {
    background: hsl(0, 0%, 16%);
}

ul li.active {
    padding-right: calc(4px * 2 + 0.5em);
}

ul li.active::before {
    content: "";
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 0.5em;
    background: var(--active-colour);
}

ul li.primary::before {
    background: red;
}

ul li.secondary::before {
    background: cyan;
}

ul + ul {
    margin-top: 2em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.8);
}
.overlay::before {
    content: attr(data-descr);
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: hsl(0, 0%, 80%);
    font: 20pt sans-serif;
}
.overlay.hidden {
    display: none;
}
